# Ignore all files in data_raw directory
data_raw/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.env
venv/
ENV/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
